/* Mengatur tampilan dasar untuk HTML dan body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Mengatur background dan warna teks untuk body */
body {
  background-color: #1b1b1b;
  color: white;
}

/* Kontainer utama untuk mengatur tata letak secara vertikal */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Konten utama dengan padding */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Mengatur judul agar berada di tengah */
h1 {
  text-align: center;
}

/* Mengatur tampilan project agar berada di tengah */
.project {
  display: grid;
  place-items: center;
}

/* Mengatur teks dalam project */
.project p {
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-top: 20px;
}

/* Mengatur tampilan canvas */
canvas {
  background: #373030;
  border-radius: 4px;
}

/* Mengatur tampilan div-game agar berada di tengah */
.div-game {
  display: grid;
  place-items: center;
}

/* Mengatur tombol */
button {
  background-color: #50d950;
  font-weight: bold;
  border: none;
  color: #1b1b1b;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
}

/* Mengatur tampilan tombol saat di-hover */
button:hover {
  background-color: #3cb43c; 
}

/* Media query untuk tampilan mobile */
@media (max-width: 480px) {
  canvas {
    width: 340px;
    height: 340px;
  }
}

/* Mengatur tampilan kontrol */
.controls {
  position: relative;
  width: 200px; 
  height: 200px;
  margin: 20px auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mengatur tombol dalam kontrol */
.controls button {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #4caf50; 
  color: white; 
  border: none;
  border-radius: 4px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Mengatur posisi tombol atas */
.controls button:nth-child(1) { 
  top: 0;
  left: 40%;
  transform: translateX(-40%);
  transform: translateY(50%);
}

/* Mengatur posisi tombol kiri */
.controls button:nth-child(2) { 
  top: 50%;
  left: 9%;
  transform: translateY(-50%);
}

/* Mengatur posisi tombol bawah */
.controls button:nth-child(3) { 
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}

/* Mengatur posisi tombol kanan */
.controls button:nth-child(4) {
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
